 #trpaginicio{
  
text-align: center;
color: white;
background-color:#212529;
border-width: 2px;
border-color: black;
}

#triniciodato{
    text-align: center;
    background-color:rgb(205, 246, 222);
    color: black;
    border-width: 2px;
    border-color: black;
    
    }
.centrartitulo{  
    font-family:Verdana, Geneva, Tahoma, sans-serif;                 
    text-align: center;           
    color: rgb(1, 14, 6);
}

#divregresar{
    text-align: right;
}
.bordecasillas{
    display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #575b5f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}
    
